body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #f6f6f8;
}

.container {
  padding: 20px;
}

.title {
  color: var(--Text-Black, #0a0e1a);
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
}

.card {
  padding: 20px;
  border-radius: 12px;
  background: #fff;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.count {
  color: var(--Text-Black, #0a0e1a);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 4px;
}

.count-name {
  color: var(--Secondary-Text, #78828e);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.database-name {
  font-weight: bold;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.row-requst{
  display: flex;
  justify-content: space-around;
}

.row-cpu {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
/*
.flex-item{
    height: 100;
}
*/
.flex-item-1 {
  flex: 1;
}

.icon-container {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5f2fe;
  border-radius: 20%;
  margin-right: 16px;
}

.icon-container svg {
  width: 80%;
  height: 80%;
}

.text-container {
  color: var(--Text-Black, #0a0e1a);

  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.database-box {
  border-radius: 8px;
  border: 1px solid #f3f3f3;
  background: #fff;
  padding: 16px;
}

.error-count {
  color: var(--Red, #de4848);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 8px;
}

.alert-count {
  color: var(--Main-Text, #0a0e1a);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.memory {
  color: #ffc107;
}

p {
  color: var(--Main-Text, #0a0e1a);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.log-card {
  position: relative;
  border-radius: 8px;
  border: 1px solid #f3f3f3;
  background: #fff;

  padding: 16px;
}

.log-title {
  color: var(--Text-Black, #0a0e1a);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 16px;
}

.log-time {
  color: var(--Text-Black, #0a0e1a);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 8px;
  line-height: 150%;
}

.log-container {
  background: var(--Red, #de4848);
  padding: 2px 12px;
  border-radius: 8px;
  display: inline-block;
  line-height: 0;
  height: 100%;
}

.warning-text {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin: 0;
}

.divider {
  background: #f3f3f3;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.vertical-divider {
    background: #f3f3f3;
    width: 1px;
  }

.error-name {
  color: var(--70-text, #78828e);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}

.month-container {
  top: 24px;
  right: 34px;
  color: var(--70-text, #78828e);
  border: 1px solid #f3f3f3;
  background: #fff;
  border-radius: 8px;
  padding: 6px 12px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.summary-title {
  color: var(--Text-Black, #0a0e1a);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 16px;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.column{
    display: flex;
    flex-direction: column;
    width: 160px;
}

.app-bar {
  background-color: #333;
  color: #fff;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
ul li {
  transition: transform 0.3s ease;
}

ul li:hover {
  transform: translateX(10px);
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

ul li a:hover {
  color: #ffd700;
}

.database-info {
  border-radius: 12px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  flex: 1;
}

.content {
  padding: 20px;
}

p {
  color: var(--Text-Black, #78828e);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

h2 {
  color: var(--Text-Black, #0a0e1a);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.chart-container-cpu {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.chart-container {
  position: relative;
  width: 300px;
  max-height: 400px;
  margin: 10px;
}

.center-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: bold;
}

.center-label-cpu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
}

.center-label-available {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#chart-value {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.monthTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  color: var(--Text-Black, #0a0e1a);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 16px;
}

.db-name {
  color: var(--Text-Black, #0a0e1a);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 4px;
}

.db-label {
  color: var(--Secondary-Text, #78828e);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.db-sessions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}